.App{
        min-height: 100vh;
background-image:linear-gradient(rgba(0,0,50,0.8),rgba(174, 174, 189, 0.8)), url(459-background.png);
background-size: cover;
background-position: center;
background-attachment: fixed;
}
*{
  margin: 0;
  padding: 0;
  
}

